body {
  background-image: url("background.png");
  font-family: sans-serif;
}

img {
  height: 250px;
  border: solid 3px black;
}

#main{
  width: 400px;
  margin: auto;
  background-color: #EEEEEE;
  border: 5px solid  #999999;
  padding: 5px;
  overflow: hidden;
}

.textAlignRight{
  text-align: right;
}

.cardNumber{
font-family: monospace;
width: 4em;
text-align: right;
}

.cardExpiration{
font-family: monospace;
width: 2em;
}

.alignCenter
{
  text-align:center;
}

.alignLeft
{
  text-align:left;
}

.floatRight{
  float: right;
}

.floatLeft{
  float: left;
}

.white
{
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  color: black;
}
.red
{
  background-color: red;
  padding: 5px;
  border: 1px solid black;
  color: white;
}
.blue
{
  background-color: blue;
  padding: 5px;
  border: 1px solid black;
  color: white;
}
.green
{
  background-color: green;
  padding: 5px;
  border: 1px solid black;
  color: white;
}

input[type="submit"]
{
  padding: 5px;
  background-color: black;
  color: white;
}

input[type="reset"]
{
  padding: 5px;
  background-color: white;
  color: black;
}
