body {
 background-image: url("images/background.gif");
 margin: 0% 10% 0% 10%;
}
#allElements{
   border: 5px solid green;
   background-color: white;
}

#eat{
  border: 5px solid yellow;
}

.top{
  border: 5px solid red;
}

.jornal{
  background-color: rgb(196,226,255);
  border: 5px solid blue;
  margin:10px 0px 0px 0px ;
  padding:0px 0px 5px 0px;
}

.date{
  border: 5px solid purple;
}

.footer{
  border: 5px solid yellow;
}

p{
}
